$colorRed: #990000;
$colorWhite: white;
$colorBlack: black;
$colorBlueDark: #032b5a;
$colorBlueDarker: #061f47;
$colorBlueLight: #419eda;
$colorGreyDark: #efefef;
$colorGreyDarker: #d8d8d8;
$colorGreyLight: #f8f8f8;

$colorTransparent: transparent;

$colourGradientDarkBlue: #003366;
$colourGradientLightBlue: #3399cc;

$colourGradientDarkGrey: #b1bcc9;
$colourGradientLightGrey: #f2f3f4;

$baseFontColor: $colorBlueDark;
$baseAccentColor: $colorBlueDarker;
$baseBackgroundColor: white;
$baseBorderColor: $colorGreyDarker;
$inputBorderColor: #bebebe;

$mainBackground: #f8f8f8;
$basketBackground: #efefef;

$alertBackground: #efefef;

$accordionHeaderBackground: #efefef;
$accordionHeaderHoverBackground: #d7dadf;
$accordionContentBorder: #d7dadf;
$accordionIcon: #007dba;

$seperatorTop: #0a4f86;
$seperatorBottom: #276ea6;