%visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

%section-header {
    @include rem(margin, 0px 30px);
    @include rem(padding-bottom, 15px);
    border-bottom: 1px solid #ddd;
}