%_spritesheet_scss {
    background: url("../img/spritesheet.png") no-repeat;
 }

%cta-large-blue-left {
    @extend %_spritesheet_scss;
    background-position: 0 0;
}

%cta-large-blue-right {
    @extend %_spritesheet_scss;
    background-position: 0 -71px;
}

%cta-large-white-down {
    @extend %_spritesheet_scss;
    background-position: 0 -142px;
}

%cta-large-white-right {
    @extend %_spritesheet_scss;
    background-position: 0 -213px;
}

%cta-small-blue-delete {
    @extend %_spritesheet_scss;
    background-position: 0 -284px;
}

%cta-small-blue-left {
    @extend %_spritesheet_scss;
    background-position: 0 -349px;
}

%cta-small-blue-right {
    @extend %_spritesheet_scss;
    background-position: 0 -414px;
}

%cta-small-white-down {
    @extend %_spritesheet_scss;
    background-position: 0 -479px;
}

%cta-small-white-right {
    @extend %_spritesheet_scss;
    background-position: 0 -544px;
}

%basket-gradient-divider {
    @extend %_spritesheet_scss;
    background-position: 0 -609px;
}

%basket-header-gradient {
    @extend %_spritesheet_scss;
    background-position: 0 -787px;
}

%basket-item-shadow {
    @extend %_spritesheet_scss;
    background-position: 0 -965px;
}

%divider-left-right {
    @extend %_spritesheet_scss;
    background-position: 0 -1032px;
}

%divider-repeat {
    @extend %_spritesheet_scss;
    background-position: 0 -1132px;
}

%gradient-divider {
    @extend %_spritesheet_scss;
    background-position: 0 -1207px;
}

%footer-bubbles {
    @extend %_spritesheet_scss;
    background-position: 0 -1313px;
}

%footer-gradient-mobile {
    @extend %_spritesheet_scss;
    background-position: 0 -1613px;
}

%footer-gradient {
    @extend %_spritesheet_scss;
    background-position: 0 -1899px;
}

%footer-list-splitter {
    @extend %_spritesheet_scss;
    background-position: 0 -2259px;
}

%footer-sprite-social-icons {
    @extend %_spritesheet_scss;
    background-position: 0 -2509px;
}

%icon-360-spin {
    @extend %_spritesheet_scss;
    background-position: 0 -2609px;
}

%icon-camera {
    @extend %_spritesheet_scss;
    background-position: 0 -2687px;
}

%icon-play {
    @extend %_spritesheet_scss;
    background-position: 0 -2765px;
}

%icon-drop-down-chevron {
    @extend %_spritesheet_scss;
    background-position: 0 -2843px;
}

%grid-icon-active {
    @extend %_spritesheet_scss;
    background-position: 0 -2898px;
}

%grid-icon {
    @extend %_spritesheet_scss;
    background-position: 0 -2966px;
}

%icon-close {
    @extend %_spritesheet_scss;
    background-position: 0 -3034px;
}

%icon-plan-selected {
    @extend %_spritesheet_scss;
    background-position: 0 -3100px;
}

%icon-plan {
    @extend %_spritesheet_scss;
    background-position: 0 -3165px;
}

%icon-red-alert {
    @extend %_spritesheet_scss;
    background-position: 0 -3230px;
}

%list-icon-active {
    @extend %_spritesheet_scss;
    background-position: 0 -3298px;
}

%list-icon {
    @extend %_spritesheet_scss;
    background-position: 0 -3366px;
}

%logo-o2 {
    @extend %_spritesheet_scss;
    background-position: 0 -3434px;
}

%logo-telefonica {
    @extend %_spritesheet_scss;
    background-position: 0 -3537px;
}

%item-border-bottom {
    @extend %_spritesheet_scss;
    background-position: 0 -3611px;
}

%nav-mobile-arrow-sprite {
    @extend %_spritesheet_scss;
    background-position: 0 -3662px;
}

%nav-mobile-burger-sprite {
    @extend %_spritesheet_scss;
    background-position: 0 -3952px;
}

%nav-mobile-focus-background {
    @extend %_spritesheet_scss;
    background-position: 0 -4122px;
}

%nav-secondary-vertical-shadow {
    @extend %_spritesheet_scss;
    background-position: 0 -4222px;
}

%tool-icon-basket {
    @extend %_spritesheet_scss;
    background-position: 0 -4273px;
}

%tool-icon-search-sprite {
    @extend %_spritesheet_scss;
    background-position: 0 -4334px;
}

%tool-icon-signin {
    @extend %_spritesheet_scss;
    background-position: 0 -4444px;
}

%tool-icon-storelocator {
    @extend %_spritesheet_scss;
    background-position: 0 -4506px;
}

%tool-icon-webchat {
    @extend %_spritesheet_scss;
    background-position: 0 -4567px;
}

%tariff-tab-bg {
    @extend %_spritesheet_scss;
    background-position: 0 -4628px;
}

%tariff-tab-end-bg {
    @extend %_spritesheet_scss;
    background-position: 0 -4715px;
}

